{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style>
    label {
        margin-right: 100%;
    }
</style>

<br><br>
<div class="section">
    <h3>Add Products</h3>
    <br><br>
   
    <form method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        
            <table>
                {{form.as_table}}
            </table>
            <br>
            

        <!-- other form fields -->

        <button type="submit" class="btn btn-primary">Add Product</button>
        <br>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('#id_category').on('change', function() {
            var category_id = $(this).val();
            $.ajax({
                url: "{% url 'get_subcategories' %}",
                data: {
                    'category_id': category_id
                },
                dataType: 'json',
                success: function(data) {
                    var subcategorySelect = $('#id_subcategory');
                    subcategorySelect.empty();
                    $.each(data, function(index, value) {
                        subcategorySelect.append($('<option>').text(value.name).attr('value', value.id));
                    });
                }
            });
        });
    });
</script>

{% endblock %}
