{%extends 'base1.html' %}
{%block content%}
{%load static%}
<h1>profile</h1>
<div class="container">
<div class="container">
  
  <div class="row gutters">
  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
  <div class="card h-100">
    <div class="card-body">
      <div class="account-settings">
        <div class="user-profile">
          
          <h5 class="user-name">{{user.name}}</h5>
          <h6 class="user-email">{{user.email}}</h6>
        </div>
        <div class="about">
          <a href="{%url 'order_deatails'%}">order</a>
        </div>
        <div class="about">
          <a href="{%url 'address_list' %}">Address</a>
        </div>
      </div>
    </div>
  </div>
  </div>
 

  
  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
  <div class="card h-100">
    <div class="card-body">
      <form action="{% url 'save_profile' %}" method="post">
        {% csrf_token %}
        <div class="row">
      <div class="row gutters">
        
        <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12">&nbsp;&nbsp;
          <h6 class="mb-2 text-primary">Personal Details</h6>&nbsp;&nbsp;
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">&nbsp;&nbsp;
          <div class="form-group">
            <label for="fullName">Full Name</label>&nbsp;&nbsp;
            <input type="text" name="name" class="form-control" id="fullName" placeholder="Enter full name" value="{{user.name}}">&nbsp;&nbsp;
          </div>
        </div>
        
      </div>
      <div class="row gutters">
        
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="Street">Email</label>
            <input type="name" name="password" class="form-control" id="Street" value="{{user.email}}">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="ciTy">Phone</label>
            <input type="name" name="password2" class="form-control" id="ciTy" value="{{user.phone}}">
          </div>
        </div>
      </div>
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="text-right">
          </div>
        </div>
      </div>
    </div>
   
  </div>
    </form>
  </div>
  </div>
  </div>
  </div>
</div>
<footer>end</footer>
{%endblock%}