{%extends 'base1.html' %}
{%block content%}
{%load static%}

    </header>
    <div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Wishlist</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">
                        

                        <!-- ##### Single Widget ##### -->
                        
                        </div>

                        <!-- ##### Single Widget ##### -->
                        

                        <!-- ##### Single Widget ##### -->
                        

                        <!-- ##### Single Widget ##### -->
                        
                        
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p><span>{{count_prod}}</span> products found</p>
                                    </div>
                                    <!-- Sorting -->
                                    
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            {% for i in wish_items %}
                            <!-- Single Product -->
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="/media/{{i.product.image1}}" alt="product_image1">
                                        <!-- Hover Thumb -->
                                        <a href="{% url 'product_detail' i.product.id %}"><img class="hover-img" src="/media/{{i.product.image2}}" alt="product_image2"></a>
                
                                        <!-- Product Badge -->
                                        {%if product.offer %}
                                        <div class="product-badge offer-badge">
                                            <span>-{{i.product.offer}}%</span>
                                        </div>
                                        {% endif %}
                                        <!-- Favourite -->
                                        
                                    </div>
                        
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>{{i.product.brand}}</span>
                                        <a href="single-product-details.html">
                                            <h6>{{i.product.name}}</h6>
                                        </a>
                                        <p class="product-price">{{i.product.price}}</p>                        
                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Add to Cart -->
                                            <!-- <div class="add-to-cart-btn">
                                                <a href="{%url 'add_to_cart' i.product.id %}" class="btn essence-btn">Add to Cart</a>
                                            </div> -->
                                            
                                        </div>
                                        <a href="{%url 'remove_item' i.id %}">remove</a>
                                    </div>
                                    
                                </div>
                            </div>
                        {%endfor%}
                        
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Shop Grid Area End ##### -->
        
        <!-- <script>
            function addToCart(productId) {
                fetch('{/add_to_cart_ajax/}' + productId + '/')
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert("Item added to cart!");
                        } else {
                            alert("Error adding item to cart.");
                        }
                    });
            }
        </script> -->

{%endblock%}